@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body{
  font-size: 15px;
  font-weight: 400;
  font-family: "Hanken Grotesk", 'Inter' , sans-serif;
}

.page-header{
  max-width: 800px;
  padding: 20px 0;
  margin: 5px auto;
  text-align: center;
}

.container{
  max-width: 1240px;
  padding: 2.5rem;
}

.footer_links li{
  cursor: pointer;
}
.footer_links li:hover{
  color: blue;
}